/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    box-sizing: border-box; /* Важно: включение размеров границ в общую ширину/высоту */
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 100px;
    background-color: rgb(0, 179, 255);
}

main {
    height: 100%;
    background-color: beige;
}

footer {
    height: 100px;
    background-color: brown;
}

.logo {
    color: white;
}


